<!DOCTYPE html>
<html ng-app="InsulinRatioApp">
  <head>
    <title>Insulin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/foodsController.js"></script>
    <script src="/javascripts/foodView.js"></script>

  </head>
  <body>
    <nav class="tabs">
      <a ui-sref-active="active" ui-sref="home">Home</a>
      <a ui-sref-active="active" ui-sref="search">Search</a>
      <a ui-sref-active="active" ui-sref="profile">Profile</a>
    </nav>


    <div class="container">
      <div class="jumbotron text-center">
        <h1>Welcome, Visitor!</h1>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-success">
            <div class="panel-heading">
              New Here?
            </div>

            <div class="panel-body">
              <p>Fill out the form below to create an account:</p>

              <form action="/signup" method="post">
                <div class="form-group">
                  <label for="username">Username:</label>
                  <input type="text" name="username" class="form-control">
                </div>

                <div class="form-group">
                  <label for="password">Password:</label>
                  <input type="password" name="password" class="form-control">
                </div>

                <input type="submit" value="Sign Up" class="btn btn-success">
              </form>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              Already have an account?
            </div>

            <div class="panel-body">
              <p>Login:</p>

              <form action="/login" method="post">
                <div class="form-group">
                  <label for="username">Username:</label>
                  <input type="text" name="username" class="form-control">
                </div>

                <div class="form-group">
                  <label for="password">Password:</label>
                  <input type="password" name="password" class="form-control">
                </div>

                <input type="submit" value="Log In" class="btn btn-default">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  <section ui-view>


  </section>

  <footer>
    <p>Copyright Preston Watson 2016</p>
  </footer>
  </body>
</html>
