<!DOCTYPE html>
<html ng-app="InsulinRatioApp">
  <head>
    <title>Insulin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/foodsController.js"></script>
    <script src="/javascripts/foodView.js"></script>

  </head>
  <body>
    <nav class="tabs">
      <a ui-sref-active="active" ui-sref="home">Home</a>
      <a ui-sref-active="active" ui-sref="search">Search</a>
      <a ui-sref-active="active" ui-sref="signup"></a>
    </nav>

  <section ui-view>


  </section>

  <footer>
    <p>Copyright Preston Watson 2016</p>
  </footer>
  </body>
</html>
