@font-face {
    font-family: 'montserratblack';
    src: url('Montserrat/montserrat-black-webfont.woff2') format('woff2'),
         url('Montserrat/montserrat-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratbold';
    src: url('Montserrat/montserrat-bold-webfont.woff2') format('woff2'),
         url('Montserrat/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratextra_bold';
    src: url('Montserrat/montserrat-extrabold-webfont.woff2') format('woff2'),
         url('Montserrat/montserrat-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrathairline';
    src: url('Montserrat/montserrat-hairline-webfont.woff2') format('woff2'),
         url('Montserrat/montserrat-hairline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratlight';
    src: url('Montserrat/montserrat-light-webfont.woff2') format('woff2'),
         url('Montserrat/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratregular';
    src: url('Montserrat/montserrat-regular-webfont.woff2') format('woff2'),
         url('Montserrat/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratsemi_bold';
    src: url('Montserrat/montserrat-semibold-webfont.woff2') format('woff2'),
         url('Montserrat/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratultra_light';
    src: url('Montserrat/montserrat-ultralight-webfont.woff2') format('woff2'),
         url('Montserrat/montserrat-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 1.5rem;
}

header {
  padding-bottom: 1rem;
  margin-bottom: 0px;

}

header.navbar {
  border-radius: 0;
  background-color: white;
  height: 150px;
  text-align: center;
}

h1 {
  font-weight: bold;
  letter-spacing: 0px;
  font-family: 'montserratextra_bold';
  color: #212B40;
  margin-top: 15px;
}
h1:after, .food h6:after {
  font-size: 1rem;
  vertical-align: super;
  margin-left: 0.192rem;
}

.food {
  background: white;
  border: 3px solid #212B40;
  color: white;
  padding: .7rem;
  min-height: 16rem;
  position: relative;
  max-width: 300px;
  margin-top: 20px;
  height: 300px;
}

.food h6 {
  font-size: 0.8rem;
  opacity: 0.6;
  color: #547B97;
}
.food h6:after {
  font-size: 60%;
  margin-left: 1px;
}
.food:hover {
  cursor: pointer;
}

.home-row {
  margin: auto;
  width: 940px;
}

footer {
  text-align: center;
  margin-top: 2rem;
  color: silver;
  font-size: 0.6rem;
}

nav.tabs {
  max-width: 55%;
}
nav.tabs a {
  display: inline-block;
  color: black;
  background-color: white;
  padding: 4px 20px;
  margin-bottom: 24px;
  margin-right: 1px;

}
nav.tabs a.active {
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

input {
  width: 50%;
  padding: 6px 9px;
}
.nav-tabs {
  background-color: white;
  height: 30px;
  border-bottom: none;
}

.nav-tabs a{
  margin-left: 0px;
  font-family: 'montserratsemi_bold';
  color: #00C3A9;
  border: 1px solid white;
  padding: 5px;
}

.nav-tabs a:hover{
  margin-left: 0px;
  font-family: 'montserratsemi_bold';
  color: white;
  background-color: #00C3A9;
  border: 1px solid white;
  padding: 5px;
}


.nav-tabs a:hover{
  border: 1px solid #00C3A9;
  text-decoration: none;
  padding: 5px;
}

h4.ng-binding {
  color: #212B40;
  font-family: 'montserratsemi_bold';
  text-transform: uppercase;
  font-size: 18px;
}

.home-food-name {
  font-family: 'montserratsemi_bold';
  margin-top: 15px;
  color: #547B97;
  font-size: 15px;
  text-transform: uppercase;
}

form {
  padding: 0.5rem 3.5rem;
}

form .buttons {
  width: 150px;
  background-color: #547B97;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  border: 1px solid white;
  color: white;
  font-family: 'montserratsemi_bold';
}

form .buttons:hover {
  width: 150px;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  border: 1px solid white;
  color: #547B97;
  font-family: 'montserratsemi_bold';
}

.list {
  list-style-type: none;
}

.search{
  margin: auto;
}

#personal {
  font-weight: bold;
  color: #00C3A9;
  border: 2px solid #00C3A9;
  margin-top: 0px;
  width: 125px;
  margin-bottom: 8px;
  padding: 5px;
  font-family: 'montserratsemi_bold';
}

.input-field{
    width: 150px;
    padding: 6px 9px;
    border-radius: 100px;
    height: 150px;
    border: 4px solid #BADCDD;
    background-color: #547B97;
    margin-bottom: 15px;
}

.input-field[type=number] {
  font-size: 50px;
  text-align: center;
  color: #BADCDD;
  font-family: 'montserratsemi_bold';
  padding-left: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  padding-right: -5px;
  opacity: 1;
}

.colon {
  color: #00C3A9;
}

.carb-form {
  background-color: #547B97;
  text-align: center;
  height: 400px;
  border-top: 1px solid #212B40;
  border-bottom: 2px solid #212B40;
}

.please {
  color: #BADCDD;
  font-size: 18px;
  margin-top: 15px;
  font-family: 'montserratsemi_bold';
}

.please-insulin {
  color:#212B40;
}

.pre-input{
  color: white;
  font-family: 'montserratsemi_bold';
  font-size: 20px;
}

img{
  height: 75px;
  }

.home h3 {
  color: #212B40;
  font-family: 'montserratsemi_bold';
}

.ui-section{
  width: 900px;
  margin: auto;
  text-align: center;
}

.home-foods {
  border: 4px solid #547B97;
  margin: 10px 20px 10px 20px;
  padding: 10px;
}

.more-foods{
  font-family: 'montserratsemi_bold';
  color: #00C3A9;
  border: 1px solid #00C3A9;
  background-color: white;
  margin-top: 15px;
}

.more-foods:hover{
  font-family: 'montserratsemi_bold';
  color: white;
  border: 1px solid white;
  background-color: #00C3A9;
}

.ratio-save {
  color: white;
  font-family: 'montserratsemi_bold';
  font-size: 20px;
  margin-top: 40px;
}

.big-ratio {
  border: 4px solid #BADCDD;
  padding-top: 40px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 50px;
  font-family: 'montserratsemi_bold';
  color: #BADCDD;
  height: 150px;
  width: 150px;
  border-radius: 100px;
  margin-bottom: 0px;
}

.big-ratio-div {
  width: 160px;
  margin: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    color: #00C3A9;
    border: 2px solid #BADCDD;
    margin-left: 25px;
}

.food-carbs {
  color: #00C3A9;
}

.food-blurb {
  color: #212B40;
  font-size: 13px;
  font-family: 'montserratsemi_bold';
}

.personal-ratio-div {
  width: 120px;
  margin: auto;
}

#your-ratio {
  text-decoration: underline;
}

.foods-button-index {
  font-family: 'montserratsemi_bold';
  color: white;
  border: 1px solid white;
  background-color: #547B97;
}

.foods-button-index:hover {
  font-family: 'montserratsemi_bold';
  color: #547B97;
  border: 1px solid #547B97;
  background-color: white;
}


